.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container fills the viewport */
}

.header {
    width: 100%;
    height: 64px; /* Set the height to 64 pixels */
    position: fixed; /* Fix the position at the top */
    top: 0; /* Align it to the top of the viewport */
    background: #FFFEF5;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 1000; /* Ensure it stays above other content */
    padding-left: 156px;
    padding-right: 156px;
  }
  
  .header .leftContainer {
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
    display: flex;
  }
  
  .header .logoImage {
    height: 31px;
  }
  
  .header .navbar {
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    display: flex;
  }
  
  .header .navItem {
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: flex;
  }
  
  .header .navText {
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
  }

.main {
  flex: 1;
  margin-top: 60px; /* Adjust based on header height */
  margin-bottom: 40px; /* Adjust based on footer height */
  overflow-y: auto;
  padding: 20px;
}

.footerFixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #EEE;
  text-align: center;
  z-index: 1000;
}

.footerScrollable {
  background-color: #ffffff;
  border-top: 1px solid #EEE;
  text-align: center;
}