.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.stage {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.side {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  z-index: 2;
}

.left {
  justify-content: flex-end;
  padding-right: 20px;
  visibility: visible;
}

.right {
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  justify-content: flex-start;
  visibility: visible;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  z-index: 3;
  text-align: center;
  margin-left: 20px;
}

.step {
  color: #ea5b5b;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: #faf5e6;
  padding: 2px 8px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.connector {
  width: 4px;
  height: 40px;
  background-color: #ea5b5b;
}